Endstufe_v1/Endstufe-backups/
Endstufe_v1/Generated/
Endstufe_v1/fp-info-cache
Endstufe_v1/production/
Endstufe_v1/Endstufe.step
Endstufe_v2/Endstufe_v2-backups/
Endstufe_v2/Generated/
Endstufe_v2/fp-info-cache
Endstufe_v2/production/
Endstufe_v2/Endstufe.step
Endstufe_v*/**/**-backups/